.PlanListView {
  margin-bottom: 20px;
  color: #333;
}

.PlanListView > ul {
  list-style-type: none;
  margin-left: 2px;
}

.PlanListView > .PlanListView_ListName {
  margin-bottom: 10px;
  font-family: 'Fira Sans Bold', Arial, Helvetica, sans-serif;
}

.PlanListView > .AddButton {
  color: #007aff;
}
