.planEmployeesListItem {
  height: 24px;
  box-sizing: border-box;
  padding: 0 0 0 22px;
  display: flex;
  align-items: center;
}

.planEmployeesListItem svg {
  fill: #007aff;
  opacity: 0;
  cursor: pointer;
}

.planEmployeesListItem:hover svg {
  opacity: .6;
}

.planEmployeesListItem svg:hover {
  opacity: 1;
}

.planEmployeesListItemText {
  flex: 1 1;
}

.planEmployeesListItemTextInput {
  flex: 1 1;
  box-sizing: border-box;
  height: 16px;
  margin-right: 4px;
}

.planEmployeesListItemBadge {
  margin: 0 6px 0 0;
  padding: 0;
  height: 10px;
  flex: 0 0 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.badgeSelected {
  border: solid 1px rgba(255, 255, 255, 0.3);
}

.planEmployeesListItemSelected {
  background-color: #007aff;
  color: white;
}

.planEmployeesListItemSelected svg, .planEmployeesListItemSelected:hover svg {
  opacity: 1;
  fill: white;
}

.planEmployeesListItemEditButton {
  flex: 0 0 28px;
}