.PlanScreen {
  display: flex;
}

.PlanScreenSideContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* debug: */
  /* background-color: oldlace; */
}

.PlanScreen > .PlanScreenSideContainer > .PlanTechMapsMenu {
  margin-bottom: 50px;
}

.PlanScreen > .PlanTimeline {
  margin-left: 10px;
}
