.planStaffListItem {
   margin-bottom: 6px;
}

.planStaffListItem > div {
  margin: 0 8px -1px 0;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #999999;
  border-radius: 6px;
}