
.PlanTimeline  {
  position: relative;
  display: inline-block;
}

.PlanTimelineColumn {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  box-sizing: border-box;
}

.PlanTimelineColumn_spacing {
  width: 100px;
}

.ColumnBasedTimeline_Container {
  position: relative;
  margin-top: 100px;
}

.PlanTimeline--highlighted {
  background-color: rgba(100, 100, 100, 0.08);
}

.PlanTimeline--hovered {
  /* background-color: rgba(100, 100, 0, 0.1); */
}
