
.PlanTimeline  {
  position: relative;
  display: inline-block;
}

.PlanTimelineColumn {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  box-sizing: border-box;
}

.PlanTimelineColumn--hovered {
  background-color:rgba(255, 255, 255, 0.8);
}

.PlanTimelineColumn--isover:nth-of-type(odd) {
  background-color:	rgba(236,236,236, 0.2);
}
.PlanTimelineColumn--isover:nth-of-type(even) {
  background-color:rgba(246,246,246, 0.2);
}


.PlanTimelineColumn_spacing {
  width: 100px;
}

.ColumnBasedTimeline_Container {
  position: relative;
  margin-top: 100px;
}

.PlanTimeline--highlighted {
  /* background-color: rgba(100, 100, 100, 0.08); */
}

.PlanTimeline--hovered {
  /* background-color: rgba(100, 100, 0, 0.1); */
}
