.techMapAddRow {
  display: flex;
  background-color: white;
}

.techMapAddRow > button {
  display: flex;
  align-items: center;
  height: 24px;
  margin-left: 14px;
  border: none;
  background: transparent;
  color: #007aff;
  cursor: pointer;
}