.techMapAddRow {
  background-color: white;
}

.techMapAddRow > button {
  height: 24px;
  margin-left: 14px;
  border: none;
  background: transparent;
  font-weight: bold;
  color: #007aff;
  cursor: pointer;
}