/* https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-images-fonts-and-files */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/FiraSans-Regular.otf');
}

@font-face {
  font-family: 'Fira Sans Bold';
  font-style: normal;
  src: url('./fonts/FiraSans-Bold.otf');
}

* {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}
.AppBody {
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.ProductList {
  /* outline: solid black 1px; */
  margin-bottom: 50px;
}

.StockList {
  /* outline: solid black 1px; */
  margin-bottom: 50px;
}

.TimelineH1 {
  margin-left: 10px;
}