.App {
}

.AppBody {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProductList {
  /* outline: solid black 1px; */
  margin-bottom: 50px;
}

.StockList {
  /* outline: solid black 1px; */
  margin-bottom: 50px;
}

.SchedulerTimeline_Container {
  width: 100%;
  height: 100%;
  padding: 30px;
}

/* .SchedulerTimeline {
  position: relative;
  height: 600px;
  width: 800px;
  overflow: scroll;
  background-color: rgba(100, 100, 100, 0.03);
} */

.SchedulerTimeline {
  position: relative;
  /* height: 600px; */
  width: 800px;
  overflow: scroll;
  background-color: rgba(100, 100, 100, 0.03);
}

.SchedulerTimelineColumn {
  position: absolute;
}

.SchedulerTimelineColumn_Inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.02);
}

.SchedulerTimelineColumn_spacing {
  width: 100px;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */

.TechMapView {
  /* outline: solid black 1px; */
  position: absolute;
  border-radius: 15px;
  /* centering content horizontally and vertically*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 500px; */
  /* left: 100px; */
}

.ColumnBasedTimeline_Container {
  position: relative;
  margin-top: 100px;
}

.SchedulerTimeline--highlighted {
  background-color: rgba(100, 100, 0, 0.1);
}

.SchedulerTimelineColumn_Inner--hovered {
  background-color: plum;
}
