/* https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-images-fonts-and-files */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/FiraSans-Regular.otf');
}

@font-face {
  font-family: 'Fira Sans Bold';
  font-style: normal;
  src: url('./fonts/FiraSans-Bold.otf');
}

* {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

#root, .App {
  height: 100%;
}

.AppBody {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.App-header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.0em;
}

.ProductList {
  /* outline: solid black 1px; */
  margin-bottom: 50px;
}

.StockList {
  /* outline: solid black 1px; */
  margin-bottom: 50px;
}

.TimelineH1 {
  font-size: 20px;
  margin-left: 10px;
}