html,body { 
  height:100%; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent; 
}
::-webkit-scrollbar-track:hover {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #33333333; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555555; 
}
